projects/logging/src/wsdl/user-service.wsdl

<wsdl:definitions xmlns:ns1="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services.ao.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="UserServiceService" targetNamespace="http://services.ao.com/">
    <wsdl:types>
        <xs:schema xmlns:tns="http://services.ao.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified" targetNamespace="http://services.ao.com/" version="1.0">
            <xs:element name="createUser" type="tns:createUser"/>
            <xs:element name="createUserResponse" type="tns:createUserResponse"/>
            <xs:complexType name="createUser">
                <xs:sequence>
                    <xs:element minOccurs="0" name="arg0" type="tns:userBean"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="userBean">
                <xs:sequence>
                    <xs:element minOccurs="0" name="login" type="xs:string"/>
                    <xs:element minOccurs="0" name="name" type="xs:string"/>
                    <xs:element minOccurs="0" name="password" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="createUserResponse">
                <xs:sequence/>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="createUser">
        <wsdl:part element="tns:createUser" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="createUserResponse">
        <wsdl:part element="tns:createUserResponse" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:portType name="UserService">
        <wsdl:operation name="createUser">
            <wsdl:input message="tns:createUser" name="createUser"></wsdl:input>
            <wsdl:output message="tns:createUserResponse" name="createUserResponse"></wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="UserServiceServiceSoapBinding" type="tns:UserService">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="createUser">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="createUser">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="createUserResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="UserServiceService">
        <wsdl:port binding="tns:UserServiceServiceSoapBinding" name="UserServicePort">
            <soap:address location="http://localhost:8080/ejbs-1.0/UserService"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>